/*-------------------------------------------------------*/
/* Newsletter
/*-------------------------------------------------------*/
.mc4wp-form-fields {
	position: relative;

	input[type="email"],
	input[type="text"] {
		margin-bottom: 0;
		padding-left: 0;
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid var(--wp--preset--color--secondary);
		background-color: transparent;

		&:focus {
			border-bottom-color: var(--wp--preset--color--primary);
		}
	}

	.newsletter__submit {
		position: absolute;
		right: 0;
		top: 0;
	}

	input[type="submit"] {
		margin-bottom: 0;
		padding: 14px 0;
		font-size: 1rem;
		background-color: transparent;
		transition: color var(--deo-transition);
		width: auto;
	}
}

.mc4wp-form .mc4wp-form-fields input[type="submit"]:hover,
.mc4wp-form .mc4wp-form-fields input[type="submit"]:focus {
	background-color: transparent;
	color: var(--wp--preset--color--primary);
}

.newsletter {
	flex: 1;

	&__body {
		@include bp-sm-up {
			display: flex;
		}
	}

	&__img-holder {
		flex: 1 0 50%;
	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;

		@include bp-sm-down {
			height: 260px;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex: 1 0 50%;
		padding: 90px 70px;
		background-color: var(--wp--preset--color--primary--light);

		&-inner {
			flex: 1 0 0;
		}
	}

	&__title {
		font-size: 2.3125rem;
		margin-bottom: 16px;
	}

	&__text {
		color: var(--deo-text-color--light);
	}

	&__submit input {
		color: var(--wp--preset--color--secondary);
	}

	.form-group {
		flex-wrap: wrap;
		flex: 1 0 0;

		input {
			margin-bottom: 0;
		}

		&.eversor-field-type-input {
			flex-basis: 100%;
			margin-bottom: 24px;
		}

		input[type="email"] {
			padding-left: 0;
			border: 0;
			border-radius: 0;
			border-bottom: 1px solid var(--wp--preset--color--secondary);
			background-color: transparent;
		}

		input[type="email"]:focus,
		input[type="text"]:focus {
			border-bottom-color: var(--wp--preset--color--primary);
		}
	}

	.consent-checkbox {
		margin-top: 20px;
		margin-bottom: 18px;
	}
}

// Single post
.single-post__newsletter {
	margin-top: 64px;
}
