:root {
	--deo-primary-color--light: hsl(239, 27%, calc(52% + 10%));
	--deo-text-color--light: hsl(240, 6%, calc(35% + 14%));
	--deo-nav-links-color: #3c3c46;
	--deo-post-link-color: #6364a5;
	--deo-border-color: #e7e7e7;
	--deo-border-color--dark: #3c3c46;
	--deo-background-color-light: #f9f9f9;
	--deo-heading-font-weigth: 600;
	--deo-nav-height: 100px;
	--deo-body-font: "Outfit", sans-serif;
	--deo-heading-font: "Outfit", sans-serif;
	--deo-container-width--narrow: 770px;
	--deo-container-width: 1170px;
	--deo-container-width--wide: 1240px;
	--deo-border-radius: 4px;
	--deo-transition: 0.2s cubic-bezier(0.43, 0.07, 0.61, 0.95);
	--deo-transition--all: all 0.2s cubic-bezier(0.43, 0.07, 0.61, 0.95);
	--deo-h1-size: 2.375rem;
	--deo-h2-size: 2rem;
	--deo-h3-size: 1.75rem;
	--deo-h4-size: 1.5rem;
	--deo-h5-size: 1.25rem;
	--deo-h6-size: 1rem;
}
